:root {
    --body-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --large-font:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --darkblue: #2a607c;
    --white: #ffffff;
    --gray:#d9dcd6;
    --sidebar-blue:#2589bd;
    --content-blue:#0072bb;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--gray);
}

.header {
    padding: 20px;
    font-family: var(--large-font);
    background-color: var(--darkblue);
    color:var(--white);
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: var(--gray);
}

.header div {
    position: absolute;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: var(--body-font);
    font-size:  20px;
}

nav{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    justify-content:right;
    left:10px;
    margin-top: -25px;
    z-index: 1;
}
nav a {
    color: var(--white);
    text-decoration: none;
    padding: 0px 25px;
}

p {
    font-size: 16px;
    color: var(--white);
}

header{
    font-family: var(--large-font);
    display: flex;
    justify-content:left;
    font-size: 36px;
    margin-top: -15px;
    z-index: -1;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size:cover;
    background-position:left;
}

.float-left {
    float: left;
    margin-right: 25px;
    width: 250px;
    height: 175px;
}

.float-right {
    float: right;
    margin-left: 25px;
    width: 250px;
    height: 175px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    clear: both;
    float: right;
    padding:20px;
    width: 20%;
    max-height:100%;
    font-family:var(--large-font);
    background-color: var(--sidebar-blue);
    white-space:pre-wrap;
    text-overflow: ellipsis;
}

.benefit-lead,.benefit-brand,.benefit-cost {
    display: block;
    text-align: center;
    margin-bottom: 32px;
    color: var(--white);
    max-width: fit-content;
}
.benefit-lead h3,.benefit-brand h3,.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
    color: var(--white);
}
.benefit-lead img,.benefit-brand img,.benefit-cost img{
    display: block;
    margin: 10px auto;
    height: 100px;
    width: 100px;
}
.search-engine-optimization,.online-reputation-management,.social-media-marketing{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: var(--body-font);
    background-color: var(--content-blue);
    color:var(--white);
}
.social-media-marketing img,.online-reputation-management img,.search-engine-optimization img {
    max-height:200px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family:var(--large-font);
    text-align:center;
}

.footer h2 {
    font-size: 20px;
}